<div class="main-content">
  <div class="container-fluid">    
    <h3></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <img class="img" src="../assets/img/directorytornpages.jpg" height="172px">
          </div>
          <div class="card-body">
            <div class="card-actions text-center">
            </div>
            <h4 class="card-title">
              PHONEBOOK MANAGEMENT
            </h4>
            <div class="card-description">
              Manage phonebook based on predefined categories
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>Read More</h4>
            </div>
            <div class="stats">
              <p class="card-category">
                <i class="material-icons" style="font-size: 32px">help</i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <img class="img" src="../assets/img/people.jpg">
          </div>
          <div class="card-body">
            <div class="card-actions text-center">              
            </div>
            <h4 class="card-title">
              PHONEBOOK ENTRY MANAGEMENT
            </h4>
            <div class="card-description">
              Manage the contacts you view in a phonebook
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>Read More</h4>
            </div>
            <div class="stats">
              <p class="card-category">
                <i class="material-icons" style="font-size: 32px">credit_card</i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header card-header-image" data-header-animation="true">
            <img class="img" src="../assets/img/category.jpg" height="196px">
          </div>
          <div class="card-body">
            <div class="card-actions text-center">              
            </div>
            <h4 class="card-title">
              CATEGORY MANAGEMENT
            </h4>
            <div class="card-description">
              Manage the categories available to link contacts to
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>Read More</h4>
            </div>
            <div class="stats">
              <p class="card-category">
                <i class="material-icons" style="font-size: 32px">account_balance_wallet</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>